.main {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 98%;
  justify-content: center;
  position: absolute;
}
img {
  max-width: 200px;
  max-height: 200px;
}
p {
    font-size: 15px;
}
.winner {
    font-size: 25px;
}